.row{
}
.messages-container {
  min-width: 100%;
  min-height: 100vh;
}
.messages{
background-attachment: fixed;
min-height: 100%
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.search:hover{
background-color: gray;
color: aqua
}
.recherche{
  justify-content: center
}
.compose{
  border: solid black;
  margin: 0;
  bottom: 0;
}
form{
  display: flex
}
#input{
  height: auto;

}
